# Tabular Dataset Exercise Solution
### The dataset is comming from this [Kaggle competition](https://www.kaggle.com/datasets/harlfoxem/housesalesprediction)
### Where the goal is to predict the price of houses in King Country, USA.
#### You can check the documentation of [Autogluon](https://auto.gluon.ai/stable/index.html)

#### 1) Run Autogluon default settings on this dataset

In [ ]:
### import autogluon tabular predictor and datasets
# import ...

In [10]:
# unzip the achive in the datasets folder
from sklearn.model_selection import train_test_split
dataset = TabularDataset('Datasets/kc_house_data.csv')
train_data, test_data = train_test_split(dataset, test_size=0.3, random_state=402)
print(train_data.shape)
train_data.head()

(15129, 21)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
10549,9477201370,20150226T000000,440000.0,3,1.75,1760,8025,1.0,0,0,...,7,1230,530,1976,0,98034,47.7287,-122.192,1590,7543
15154,2770604615,20141121T000000,735000.0,4,2.00,1640,6000,1.5,0,0,...,9,1640,0,1911,0,98119,47.6505,-122.375,1900,6000
20283,662440020,20150226T000000,380000.0,4,2.50,2420,4981,2.0,0,0,...,9,2420,0,2009,0,98038,47.3785,-122.023,2420,5000
7865,3211100450,20140814T000000,217000.0,3,1.00,1400,7800,1.0,0,0,...,7,1400,0,1962,0,98059,47.4789,-122.159,1400,7800
1614,2624049117,20140903T000000,425000.0,3,1.00,1550,4160,1.5,0,0,...,6,1550,0,1926,0,98118,47.5387,-122.265,1590,5000

In [11]:
label = 'price'
print("Summary of class variable: \n", train_data[label].describe())

Summary of class variable:
 count    1.512900e+04
mean     5.410016e+05
std      3.701607e+05
min      7.500000e+04
25%      3.200000e+05
50%      4.500000e+05
75%      6.450000e+05
max      7.700000e+06
Name: price, dtype: float64

In [ ]:
### call tabular predictor with default settings
# predictor = ...

In [1]:
# Fit the predictor with the train data and set a time limit of 5 min.
# predictor. ...

In [4]:
# Create a test dataset without the labels.

# y_test = ...
# test_data_nolab = ...

In [3]:
# predict the labels of the test dataset you created 
# y_pred = ...
# Evaluate your predictions
# perf = ...

In [2]:
# Have a look to the leaderboard

#### 2) Run Autogluon with your hyperparameters

In [17]:
# import the core lib of autogluon
# import ...

In [5]:
# set the eval metric to mae (mean average error)
# eval_metric = ...

# Set hyperparameter of a NN model 
nn_options = {  # specifies non-default hyperparameter values for neural network models
    #'num_epochs': ... ,  # number of training epochs (controls training time of NN models)
    #'learning_rate': ...,  # learning rate used in training (real-valued hyperparameter searched on log-scale)
    #'activation': ...,  # activation function used in NN (categorical hyperparameter, default = first entry)
    #'dropout_prob': ...,  # dropout probability (real-valued hyperparameter)
}

gbm_options = {  # specifies non-default hyperparameter values for lightGBM gradient boosted trees
    #'num_boost_round': ...,  # number of boosting rounds (controls training time of GBM models)
    #'num_leaves': ...,  # number of leaves in trees (integer hyperparameter)
}

# you can let a given model without setting hyperparameter
cat_options = {
}

# set the hyperparameters of each model type
hyperparameters = {  
                   #'GBM': ...,
                   #'NN_TORCH': ...,  
                   #'CAT': ...
                  }  # When these keys are missing from hyperparameters dict, no models of that type are trained

# train various models for ~5 min
# time_limit = ...  
# try at most 5 different hyperparameter configurations for each type of model
# num_trials = ...   
# to tune hyperparameters using random search routine with a local scheduler
# search_strategy = ... 

# HPO is not performed unless hyperparameter_tune_kwargs is specified
hyperparameter_tune_kwargs = {  
    # 'num_trials': ...,
    'scheduler' : 'local',
    # 'searcher': ...,
}

# Set up the predictor with the label, evaluation metric and problem type
# predictor = ...

# Fit the predictor with the train data, time limit, hyperparameters and the hyperparameter tune kwargs
# predictor.fit(...)

In [6]:
# Evaluate the predictor
# perf = ...

#### 3) Run Ensembling with you hyperparameters

In [7]:
# Set the hyperparameter like above

# Set the predictor 
# predictor = TabularPredictor()

# fit the predictor with ensembling using num_bag_folds=..., num_bag_sets=..., num_stack_levels=... . You can aslo use auto_stack and presets
# predictor.fit(...)

In [9]:
# print the leaderboard

In [8]:
# print the evaluation